
@font-face {
  font-family: 'titlefont';
  src: url('adlib_r.ttf') format("truetype");
}

@font-face {
  font-family: 'textfont';
  src: url('font/CrimsonText-Regular.ttf') format("truetype");
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  overflow-x: hidden;
  /* background-position: bottom; */
  background-image: url('immagini/tutto cielo fondale sito.png');
  background-size: cover;
  height: 100%;
  font-family: "textfont";
  line-height: 1.3;
  background-color: white;

}

.contatti_img{
  position: absolute;
  bottom: 0vw;
  object-fit: cover;
  /* width: 100%; */
}




img{
  width: inherit;
}

a{
  text-decoration: inherit;
  color: inherit;
}


/* *{
  border: 1px solid black;
} */


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* menu, uguale ovunque */


.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 81vw;
  padding-top: 3vh;

}

.tabu_cont{
  display: flex;
}

.tabu_box_1{

  position: sticky;
  top: 0;
  height: 86vh;
  margin-top: -8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3vh;
  padding-left: 0.7vw;
  padding-top: 3vw;
}

.tabu_box_1 img{
  height: 10vh;
  padding: 18px;
}
.tabu_box_2{
  width: 85%;
}

.thome{
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 8.3vw;



}

.menu{
  width: 40vw;
  height: 100%;
  position: fixed;
  top: 0;
  color: white;
  right: -40vw;
  background-color: pink;
  z-index: 100;
  background-image: url('immagini/fondale sito.png');
  background-repeat: repeat-x;
	background-position:
		0 20%;

  padding-left: 3vw;
  padding-top: 2vw;
  padding-right: 3vw;
  padding-bottom: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing:border-box;
  transition: all 0.6s ease-out;



	animation: 50s para infinite linear;


}

.tmenu_verse{
  position: absolute;
  top: 0px;
  right: 0vw;
  width: 20vw;
  object-fit: contain;
  z-index: 300;



}


.tmenu_reverse{
  display: none;
}

.menu div{
  font-size: 5vw;
  font-family: 'titlefont';

}


.botton1, .botton3{
  text-align: right;
}


.contatti{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  /* bottom: 4vw; */
  left: -3vw;


  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  /* background-image: url("/immagini/fondale sito.png"); */
  background-position:  left;
  background-position: bottom;

  background-repeat: no-repeat;
  background-size: cover;


}

.contatti img{
  width: 15%;
}
.contatti a{
  font-size: 3vw;
  margin-left: 1.3vw;
  color: white;
}

.contatti div{
  font-size: 3vw;
  margin-left: 1.3vw;
  color: white;
}


.home_container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding-top: 3vh;
  height: fit-content;
  display: flex;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  width: 100vw;

  position:absolute;
  top: 5vh;
}

.logo img{
  display: flex;
  justify-content: center;
  width: 40vw;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: absolute;
  width: 100%;
  align-items: center;
  height: 38vh;

}



.sfondoHome{
  width: 100%;
  display: flex;
  height: 97vh;
  justify-content: center;
}
.prato{
  position: absolute;
  bottom: 0;
  max-height: 25vh;
  object-fit: cover;
  object-position: top;
}
.cielo{
  width: 90vw;
}
.home a{
  width: 50%;

}
.tasti_home{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tasti_home div{
  text-align: center;
  width: 100%;
  padding: 3vw;
  padding-left: 6vw;
  padding-right: 6vw;

}

.tasti_home img{
  width: 55%;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* TESTI */

  /* TITOLONI */
  .title{
  position: relative;
  margin-left: 7.5vw;
  font-size: 14vw;
  color: white;
  font-family: 'titlefont';
  line-height: 1;
  margin-bottom: 3vw;
  }

  .title_mobile{
  position: relative;
  font-size: 9.7vw;
  color: white;
  font-family: 'titlefont';
  line-height: 1;
  margin-bottom: 3vw;
  padding-top: 11vw;
  }

  /* TITOLINI */
  .little{
    font-size: 7vw;
    margin-bottom: 5.2vw;
    color: white;
    font-family: 'titlefont';
  }

  .very_little{

    font-size: 3vw;
    margin-bottom: 1.2vw;
    color: white;
    font-family: 'textfont';
    padding-left: 12vw;
    padding-right:5vw;
    padding-top: 3.5vw;
    padding-bottom:2vw;
  }

  /* GRANDEZZA FONT E POSITION */
  .text{
    position: relative;
    font-size: 4.8vw;
    height: auto;
    color: white;
    width: 90%;
    margin-bottom: 10%;
  }

  .text_scheda{
    position: relative;
    font-size: 5vw;
    height: auto;
  }


  .text_domanda{
    position: relative;
    font-size: 5vw;
    font-style: italic;
    height: auto;
    margin-bottom: 4vw;
  }

  .text_risposta{
    position: relative;
    font-size: 4.12vw;
    margin-bottom: 10vh;
    height: auto;
  }

  .text_link{
    font-family: 'titlefont';
    position: relative;
    font-size: 2.6vw;
    margin-bottom: -5vw;


  }


  .link_container{
    background-color: #00c0ff;
    box-shadow: 50px 50px grey;
    background-image: url('immagini/texture_link.png');

  }

  .qa_container_1{
    background-color: #fa981b;
    box-shadow: 50px 50px grey;

    color: white;
  }

  .qa_container_2{
    background-color: #733340;
    box-shadow: 50px 50px grey;

    color: white;
  }



  .shadow_link:hover{

      filter:
      /* drop-shadow(1vw 0 0.5vw black)
              drop-shadow(-2vw 0 0.5vw black)
              drop-shadow(0 1vw 0.5vw black) */

              drop-shadow(1vw 1.2vw 0 black);

  }

  .black{
    color: black;
    margin-bottom: 4vw;
  }

  /* CHI SIAMO, CONTENITORI TESTO */
  .text_container{
    background-color: #fab761;
    box-shadow: 50px 50px grey;
    background-image: url('immagini/texture.png');
    color: white;
  }



  /* CHI SIAMO, CONTENITORI PER OMBRA POSIZIONE */
  .text1_position{
    position: relative;
    margin-top: 2.6vw;
  }

  .text2_position{
    position: relative;
    /* top:  60.4vw; */
  }

/* TABù, MARGINE */
  .link_position{
    padding-left: 0vw;
    padding-right: 6vw;
    padding-bottom: 11vw;
  }

  /* CHI SIAMO, PADDING */
  .text1_padding{
    padding-left: 17vw;
    padding-right: 27vw;
    padding-top: 7vw;
    padding-bottom: 13vw;
  }

  .text2_padding{
    padding-left: 47vw;
    padding-right: 15vw;
    padding-top: 8vw;
    padding-bottom: 6vw;
  }


  .text-pers-2{
    position: relative;
    width: inherit;
    background-color: #fab761;
    background-image: url('immagini/texture.png');
    /* object-fit: scale-down; */


  }
  /* FORME */

  .path1{
    clip-path: url(#svgPath);
  }

  .path2{
    clip-path: url(#svgPath2);
  }

  .path3{
    clip-path: url(#svgPath3);
  }

  .path4{
    clip-path: url(#svgPath4);
  }

  .path5{
    clip-path: url(#svgPath5);
  }

  .path6{
    clip-path: url(#svgPath6);
  }


  .path_link{
    clip-path: url(#triangolo);
  }

  .path_link_reverse{
    clip-path: url(#triangolo_reverse);
  }


  .box-personaggi{
    margin-top: 6vw;
    height: 10vw;
  }

  /* OMBRA FORME */
  .shadow{
    -webkit-filter: drop-shadow(2vw 1.6vw #ab6f22);
    filter: drop-shadow(2vw 1.6vw #ab6f22);
    width: 100%;

  }
  .shadow2{
    -webkit-filter: drop-shadow(2vw 1.6vw #ab6f22);
    filter: drop-shadow(2vw 1.6vw #ab6f22);
    width: 150%;
    left: -50%;
  }

  .rect_pers{
    width: 100%;
    height: 6vw;
    background-color: #f7e6c9;
  }

  .mobile-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 8vw;
    align-items: center;

  }

  .mobile-flex img{
    width: 30vw;

  }
  .mobile-flex div{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27vw;

  }

  .testi{
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;


  }




  .testi div{
    width: 65vw;
    margin-right: 35vw;
  }
  .testi a{
    width: 50vw;
    padding-right: 3vw;
  }

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* IMMAGINI */


  /* CHI SIAMO, IMMAGINE OLIVIA  */
  .immagine_1{
    position: absolute;
    left: 6vw;
    top: 17vw;
    /* margin-top: 74.2vw; */
    width: 29vw;
  }


  .immagine_1 img{
    position: relative;
    width: inherit;
    /* object-fit: scale-down; */
  }

  /* CATALOGO, IMMAGINI COPERTINE  */

  .copertine_container{
    position: relative;
    /* width: 100%; */
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-top: 7.5vw;
    padding-bottom: 10%;
    display: flex;
    background-color: #fff4e5;
  }

  .sfondo{
    background-color: #fff4e5;
    /* height: 60vh; */
  }

  .copertina{
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .copertina img:hover {

      -webkit-filter: drop-shadow(0.5vw 0 0  #ffffff)
              drop-shadow(-0.5vw 0 0  #ffffff)
              drop-shadow(0 -0.5vw 0  #ffffff)
              drop-shadow(0 0.5vw 0  #ffffff);
      filter: drop-shadow(0.5vw 0 0  #ffffff)
              drop-shadow(-0.5vw 0 0  #ffffff)
              drop-shadow(0 -0.5vw 0  #ffffff)
              drop-shadow(0 0.5vw 0  #ffffff);
  }




  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.prova_contatti{
  position: absolute;
  bottom: 0;
}

  /* CATALOGO */


    .catalogo_schermata{
      /* padding-bottom: 30vw; */
      overflow: hidden;
    }

    /* CONTAINER SCHEDA FLEX  */

    .schedaLibro{
      position: relative;
      /* s */
      /* padding-bottom: 20vh; */
      background-color: #fff4e5;
      padding-top: 7vw;
    }

    .scheda_container{
      display: block;
      padding-left: 7.5vw;

      padding-bottom: 17vw;

    }

    .scheda_container div{
      /* display: flex; */
      width: 80%;

    }
    .mockup{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 17vh;

    }


    .mockup img{
      width: 50%;

    }


    .immagine_libro{
      width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 5vw;
    }


    .immagine_libro img{
      width: 30%;
    }


    .immagine_libro img:hover {

        -webkit-filter: drop-shadow(1px 1px 0 black)
                        drop-shadow(-1px -1px 0 black);
        filter: drop-shadow(6px 0 0 black)
                drop-shadow(-6px 0 0 black)
                drop-shadow(0 -6px 0 black)
                drop-shadow(0 6px 0 black);
    }


    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



    /* TABù */


      /* IMMAGINI PER TABù  */

    .immagine_2{
      position: absolute;
      right: 0vw;
      width: 29vw;
    }

    .immagine_2 img{
      position: absolute;
      right: 0;

      /* object-fit: scale-down; */
    }



    .dialogo{
      display: flex;
      flex-direction: column;
      padding-left: 14vw;
      padding-right: 14vw;
      padding-bottom: 17vw;
    }


    /* DIALOGO PER TABù  */


    .sinistra_padding{
      padding-left: 11vw;
      padding-right: 14vw;
      padding-top: 8vw;
      padding-bottom: 14vw;
      text-align: left;
      width: 50vw;
    }

    .destra_padding{
      padding-left: 13vw;
      padding-right: 12vw;
      padding-top: 7vw;
      padding-bottom: 6vw;
      text-align: right;
      max-width: 50vw;
    }

    /* LINK PADDING PER TABù  */
    .link_padding_sx{
      padding-left: 6.5vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 32vw;
      text-align: left;
      padding-right: 27%;
    }

    .link_padding_dx{
      padding-right: 6.5vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 32vw;
      padding-left: 27%;
      text-align: right;
    }


    .distintivo{
      width: 8vw;
      display: inline;
      position:  absolute;
      left: 3vw;
      top: 5vw;
    }





.blokko{
  height: 7.5vw;
}







/* DA SISTEMARE */

.big-pers img{
  position: relative;
  width: inherit;
  /* object-fit: scale-down; */


}

.text-pers{
  position: relative;
  width: inherit;
  background-color: #fab761;
  background-image: url('immagini/texture.png');
  /* object-fit: scale-down; */


}

.small-pers img{
  position: relative;
  width: inherit;
  /* object-fit: scale-down; */


}

.second-section{
  position: relative;
  padding-bottom: 7vw;
  padding-top: 7vw;
}

.container-pers{
  position: relative;
  top: 0;
  padding-top: 6vw;
}

.second_par{
  position: relative;
  margin-top: 8.2vw;
}
.second_par div{
  display: inline-block;

}

/* img{
  position: absolute;
  top:100;
  left:300;

} */

.scroll-personaggi div{
    display: block;
    width: 10vw;
    position: absolute;
}


.nome-personaggi{
  margin-bottom: 16vw;
  position: relative;
}

.nome-personaggi div{
  display: block;
  position: absolute;
}

/* .prova-cont img:hover {

    -webkit-filter: drop-shadow(1px 1px 0 black)
                    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(6px 0 0 black)
            drop-shadow(-6px 0 0 black)
            drop-shadow(0 -6px 0 black)
            drop-shadow(0 6px 0 black);
} */

.prova-cont{
  position: absolute;
  bottom: 0;
  width: 100%;

}


.box-logo{
  position: sticky;
  top: 6%;
  width: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  transform: translate(-10%,0);
  padding-top: 6vw;
}

.box-logo img{
  width: 40%;
  /* position: absolute; */
}

.space{
  height: 35vw;
}







@keyframes para {
	100% {
		background-position:
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}






  svg {
  display:block;
  width:90%; height:100vh;
  margin:0 auto;
  margin-top: -10vh;
}
polygon {
  transition: fill .15s;
  box-sizing: border-box;
}
.teal{

}

#image1{
  transform:translate(-50%,-50%);

}


path{
  background-color:black;
}

image{
  transform-origin:center center;
}

image:hover{
  transform: scale(1.01);
}
a:hover .pink { fill:pink; }
a:focus .teal,
a:focus .pink { fill:orange; }




.reveal {
		opacity: 0;
		-webkit-transform: translateX(-40px);
			 -moz-transform: translateX(-40px);
				-ms-transform: translateX(-40px);
				 -o-transform: translateX(-40px);
						transform: translateX(-40px);
		-webkit-transition: all 0.6s ease-out;
			 -moz-transition: all 0.6s ease-out;
				-ms-transition: all 0.6s ease-out;
				 -o-transition: all 0.6s ease-out;
						transition: all 0.6s ease-out;
	}
.reveal.visible {
		opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}


  .img_distintivi{
    position: absolute;
    top: 5.4%;
    left: 28%;
    width: 10%;

  }
